
        .container {
            margin-top: 20px;
        }
        .form-group {
            margin-bottom: 10px;
        }
        .item {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
        .item h4 {
            margin-top: 0;
        }
        .item img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
        .jumbotron {
            background-image: url("banner.jpg");
            background-size: cover;
            color: white;
        }
        .carousel-item img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
        #map {
            width: 100%;
            height: 300px;
        }
        footer {
            background-color: #343a40;
            color: white;
            padding: 20px;
        }
    